.Subclass{
  //background-color: rgb(32,32,30);
  padding: 100px 0;
  min-height: calc(100vh - 40px);
  &-wrapper{
    background-color: white;
    width: 80%;
    min-width: 310px;
    max-width: 800px;
    padding: 20px 10px;
    margin: 0 auto;
    border-radius: .2rem;
    h2.titleб h2.title2{
      font-size: 2em;
      color: #2d3748;
      text-shadow: 1px 1px 2px dimgray;
    }
    .title2{
      margin-top: 100px;
    }
    .terms{
      margin-top: 15px;
      text-align: left;
      background-color: whitesmoke;
      padding: 3px;
      border-radius: .2rem;
    }
    .exercises, .exercises2{
      width: 100%;
      margin-top: 30px;
      padding-left: 12px;
      .task{
        margin-top: 20px;
        text-align: left;
        position: relative;
        .number{
          position: absolute;
          left: 0;
          text-indent: 3px;
        }
        em{
          color: dimgray;
          font-size: .9em;
        }
        ul{
          margin: 20px 0 20px 10px;
        }
        .weapon-list{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          position: relative;
        }
        .weapon-list .top-b, .weapon-list .low-a, .img-list ul{
          width: 270px;
          list-style: none;
          h3{
            margin-bottom: 25px;
          }
          li{
            display: flex;
            align-items: center;
            margin: 6px;
            height: 32px;
            img{
              margin-right: 8px;
            }
          }
        }
        .sequence-list{
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
          ul{
            position: relative;
            background-color: whitesmoke;
            padding: 4px;
            border-radius: .2rem;
            list-style: none;
            display: inline-block;
            box-shadow: 1px 1px 3px lightgrey;
            li{
              display: flex;
              align-items: center;
              margin: 6px;
              height: 32px;
              img{
                margin: 4px;
              }
            }
            .math{
              margin: 0 9px;
              width: 32px;
              justify-content: center;
              align-items: center;
              height: 6px;
              font-size: 1.2em;
              font-weight: bold;
              transform: translateY(-2px);
            }
            .x10{
              margin: 0;
              height: 12px;
              position: absolute;
              bottom: 6px;
              right: 4px;
              font-weight: bold;
              color: rgba(255, 0, 0, 0.63);
            }
          }
        }
        .copy{
          cursor: pointer;
          position: relative;
          &:active{
            color: #2d3748;
          }
        }
        .popup{
          font-weight: normal;
          position: absolute;
          left: -50%;
          top: -30px;
          white-space: nowrap;
          background-color: #e6e8f5;
          padding: 1px 4px;
          border-radius: .25rem;
          box-shadow: 1px 1px 3px grey;
          border: 1px solid #858585;
          pointer-events: none;
          transition: ease-in all .6s;
          opacity: 0;
          &:after {
            content: "";
            position: absolute;
            bottom: -12px;
            left: calc(50% - 12px);
            background-color: #dbddea;
            width: 24px;
            height: 18px;
            clip-path: polygon(50% 100%, 0 50%, 100% 50%);
          }
        }
        .crossed{
          display: inline-block;
          text-decoration: line-through;
        }
      }
    }
  }
}

@keyframes anim-popup {
  0%{opacity: 0;}
  80%{opacity: 0;}
  100%{opacity: 1;}
}