.Header{
  .nav{
    display: flex;
    justify-content: space-evenly;
    .nav-item{
      position: relative;
      &:hover{box-shadow: inset lightgrey 0 0 6px;}
      a{
        display: block;
        text-decoration: none;
        color: #2d3748;
        padding: 8px 16px;
        white-space: nowrap;
        text-align: left;
        position: relative;
        //&:hover{box-shadow: inset lightgrey 0 0 6px;}
      }
      .active{
        text-shadow: 1px 1px 2px #706f80;
        background-color: rgba(0, 48, 255, 0.1);
        //box-shadow: inset lightgrey 0 0 6px;
      }
      .disable{pointer-events: none;}
      .dropdown-menu{
        min-width: 150px;
        position: absolute;
        z-index: 2;
        background-color: white;
        display: none;
        box-shadow: 2px 2px 5px grey;
      }
      .dropdown2{
        &:hover:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 3px;
          background-color: #afb3ff;
        }
        a{
          &:hover:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 3px;
            background-color: #afb3ff;
          }
        }
      }
      .dropdown-menu2{
        width: 100%;
        z-index: 2;
        background-color: whitesmoke;
        display: block;
        max-height: 0;
        overflow: hidden;
        a{
          padding: 3px 16px;
          text-indent: 5px;
          height: 30px;
        }
      }
    }
    .dropdown:hover > .dropdown-menu{display: block;}
    .dropdown2:hover > .dropdown-menu2{animation: dropdown2-anim linear .6s forwards;}
  }
  .nav_bars{
    position: absolute;
    font-size: 1.5em;
    top: 10px;
    right: 12px;
    z-index: 5;
    background-color: rgba(245, 245, 245, 0.1);
    padding: 1px 6px 0;
    border-radius: .25rem;
  }
}


@keyframes dropdown2-anim {
  0%{max-height: 0;}
  50%{max-height: 0;}
  100%{max-height: 151px;}
}