.Card{
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 100px;
  width: auto;
  max-width: 270px;
  padding: 25px 12px;
  box-shadow: 1px 1px 5px black;
  color: rgb(255, 232, 155);
  border-radius: .25rem;
  cursor: pointer;

  .title{
    margin-top: 6px;
    margin-bottom: 25px;
  }
  &__info{
    text-align: left;
    color: transparent;
    padding: 0 10px;
    transition: linear all .3s;
    .resp{
      width: 100%;
      font-size: .8em;
      font-weight: bold;
    }
    .info__row{
      font-weight: bold;
    }
  }
  .interface{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    .progress-ring{
      width: 120px;
      height: 120px;
      .progress-ring__circle{
        stroke: rgba(128, 204, 237, 0.6);
        stroke-width: 6px;
        fill: rgba(78, 152, 184, 0.11);
        transform-origin: center;
        transform: rotate(-90deg);
        transition: linear all 1s;
      }
    }
    .flag-words{
      position: absolute;
      left: 49.5%;
      top: 50%;
      .flag span{
        width: 3px;
        left: 50%;
        bottom: 50%;
        padding-bottom: 60px;
        position: absolute;
        transform-origin: bottom;
        transform: rotate(0deg);
        font-weight: bold;
        opacity: .2;
      }
      .killed span{
        padding-bottom: 56px;
      }
    }
    .percent{
      font-weight: bold;
      opacity: .7;
      position: absolute;
      top: calc(50% - 12px);
      margin: 0 auto;
      //left: calc(50% - 13px);
    }
  }
  &:hover .flag-words .flag span{opacity: .8;}
  &:hover .Card__info{color: inherit;}
}
.begun{
  background-color: rgb(33,34,38);
}
.wait{
  background-color: rgba(0, 0, 0, 0.11);
  color: #4b4b4b;
  text-shadow: 1px 1px 1px dimgray;
  .Card__info{
    text-shadow: none;
  }
  .interface{
    .progress-ring{
      .progress-ring__circle{
        stroke: cornflowerblue;
      }
    }
    .flag-words{
      .flag span{
        opacity: .5;
      }
    }
    .percent{
      opacity: 1;
    }
  }
  &:hover .Card__info{text-shadow: 1px 1px 3px dimgray;}
  &:hover .flag-words .flag span{opacity: 1;}
}