@import "variables";

@media screen and (max-width: 768px){}
//                                                        . . : : H E A D E R : : . .
@media screen and (max-width: 426px){
  .Header{
    .logo{
      height: 54px;
    }
    background-color: whitesmoke;
    padding-top: 54px;
    .nav{
      width: 100%;
      background-color: white;
      display: none !important;
      flex-direction: column;
      border-bottom: 1px solid dimgray;
      .nav-item{
        a{
          height: auto;
          padding: 16px;
          border-bottom: 1px solid lightgrey;
        }
        .dropdown-menu{
          position: relative;
          width: 100%;
        }
        .dropdown-menu2{
          a{
            padding: 16px;
          }
        }
      }
    }
    ._locale{
      height: 54px;
      margin-right: 30px;
      .locale__list{
        .flag-wrapper{
          img{

          }
        }
      }
    }
  }
  .mobile_show{
    .nav{
      display: flex !important;
    }
  }

  .Enchante_chance{
    font-size: .8em;
    .enchante_table_2nd_prof, .enchante_table_3nd_prof{
      padding: 20px 2px;
      .ench_chance{
        padding: 1px;
        height: 20px;
      }
    }
  }
  .Contacts{
    .col{
      label{
      }
        input{
        }
        textarea{
        }
      .button{
      }
      }
  }
  //                                                        . . : : Attribute : : . .
  .Attribute{
    background-color: rgb(32,32,30);
    padding: 50px 6px;
    min-height: calc(100vh - 40px);
    color: rgb(155, 155, 153);
    font-family: "Comic Sans MS", sans-serif;
    .wrapper{
      grid-template-columns: repeat(auto-fit, minmax(220px, 270px));
      gap: 12px;
      .Armor-wrapper{
        max-width: 270px;
        .armor-item{
          margin-top: 2px;
          display: flex;
          padding: 2px;
          &:hover{
            background-color: rgba(48, 135, 255, 0.03);
            border: 1px solid rgba(245, 245, 245, 0.05);
            box-shadow: 1px 1px  3px #191919;
          }
          img{
            width: 70px;
            height: 70px;
          }
        }
      }
      .Attribute-wrapper{
        margin: 0 auto;
        width: 240px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 110px);
        gap: 20px 20px;
        .stones, .crystals{
          .attribute-item{
            margin-top: 10px;
            img{
              width: 40px;
              height: 40px;
            }
            .title{
              font-size: .7em;
              width: 40px;
            }
          }
        }
      }
    }
    .chart-wrapper{
      .img-wrapper{
        .title{
          font-size: .8em;
        }
        .title1{
          left: -32px;
        }
        .title2{
          bottom: 6px;
        }
      }
    }
  }
  .Armor{
    width: 200px;
    height: 70px;
    padding-bottom: 2px;
    .att{
      padding-top: 2px;
      .title{
        font-size: .7em;
        padding-bottom: 1px;
      }
      .progress{
        .layer{
          height: 6px;
        }
      }
    }
  }
  //                                                        . . : : Subclass : : . .
  .Subclass {
    &-wrapper {
      width: 94%;
      padding: 20px 3px;
    }
  }
}
@media screen and (max-width: 376px){
}
@media screen and (max-width: 321px){
    .Enchante_chance{
    font-size: .7em;
  }
}
// todo:                                                       . . : : H E A D E R : : . .
@media screen and (min-width: 427px){
  .Header{
    height: 40px;
  }
  .nav_bars{display: none}
}