.Attribute{
  background-color: rgb(32,32,30);
  padding: 50px 6px 150px;
  min-height: calc(100vh - 40px);
  color: rgb(155, 155, 153);
  font-family: "Comic Sans MS", sans-serif;
  h2{
    font-family: "Comic Sans MS", sans-serif;
    color: #e1e1e1;
    font-size: 2em;
    cursor: pointer;
  }
  .wrapper{
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 300px));
    gap: 20px;
    .Armor-wrapper{
      max-width: 300px;
      .armor-item{
        margin-top: 10px;
        display: flex;
        border: 1px solid transparent;
        padding: 2px;
        border-radius: .2rem;
        cursor: pointer;
        &:hover{
          background-color: rgba(48, 135, 255, 0.03);
          border: 1px solid rgba(245, 245, 245, 0.05);
          box-shadow: 1px 1px  3px #191919;
        }
        img{
          width: 90px;
          height: 90px;
        }
        &:nth-child(1){margin-top: 0}
      }
      .active-armor{
        background-color: rgba(48, 135, 255, 0.05);
        border: 1px solid rgba(245, 245, 245, 0.05);
        box-shadow: 1px 1px  3px #191919;
      }
    }
    .Attribute-wrapper{
      margin: 0 auto;
      width: 240px;
      display: grid;
      grid-template-columns: repeat(auto-fit, 110px);
      gap: 20px 20px;
      .stones, .crystals{
        .attribute-item{
          position: relative;
          display: flex;
          text-align: left;
          margin-top: 10px;
          &:nth-child(1){margin-top: 0}
          padding: 2px;
          cursor: pointer;
          border: 1px solid transparent;
          border-radius: .2rem;
          transition: linear all .1s;
          img{
            width: 50px;
            height: 50px;
          }
          .title{
            padding-left: 5px;
            padding-top: 5px;
            user-select: none;
          }
          &:hover .title{ color: rgb(44, 135, 180);}
          &:hover{
            background-color: rgba(48, 135, 255, 0.02);
            border: 1px solid rgba(245, 245, 245, 0.05);
            box-shadow: 1px 1px  3px #191919;
          }
        }
        .banned_att{
          cursor: inherit;
          filter: grayscale(90%);
          opacity: .5;
          background-color: transparent!important;
          border: 1px solid transparent!important;
          box-shadow: none!important;
          .title{color: rgb(155, 155, 153)!important;}
        }
      }
      .stat{
        display: grid;
        grid-template-columns: repeat(auto-fill, 104px);
        gap: 0 20px;
        background-color: rgb(30,30,28);
        border-radius: .2rem;
        width: 240px;
        position: relative;
        font-size: .9em;
        user-select: none;
        padding: 6px;
        z-index: 2;
        box-shadow: inset 1px 1px 5px #151515;
        .chance, .amount{
          width: 100%;
          position: absolute;
          display: flex;
          justify-content: space-between;
          z-index: 1;
          transition: linear all .3s;
          opacity: 0;
          pointer-events: none;
          padding: 2px 3px;
          background-color: rgb(25, 25, 23);
          border-radius: .2rem;
        }
        .chance{top: -18px;}
        .amount{bottom: -18px;}
        &:hover .chance, &:hover .amount{
          animation: linear chance forwards 1s;
          pointer-events: auto;
        }
        &:after{
          content: '';
          position: absolute;
          height: 86%;
          width: 3px;
          left: calc(50% - 3px);
          top: 7%;
          background: rgb(36,27,21);
          background: linear-gradient(90deg, rgba(36,27,21,1) 0%, rgba(27,18,14,1) 50%, rgba(97,80,72,1) 100%);
          opacity: .7;
        }
        .stat-att{
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          padding: 0 3px;
        }
      }
    }
  }
  .chart-wrapper{
    margin-top: 250px;
    width: 100%;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    .img-wrapper{
      position: relative;
      display: inline-flex;
      box-shadow: 1px 1px 22px black;
      transition: linear all .3s;
      .title{
        color: #161616;
        font-size: 1.4em;
        position: absolute;
        font-weight: bold;
      }
      .title1{
        transform: rotate(-90deg);
        left: -50px;
        align-self: center;
      }
      .title2{
        bottom: 15px;
        width: 100%;
      }
      img{
        width: 100%;
        max-width: 800px;
        min-width: 310px;
      }
    }
    .enough{
      width: 100%;
      bottom: -50px;
      position: absolute;
      transition: opacity ease-out 1s;
      span{
        display: inline;
        cursor: pointer;
        font-weight: bold;
        opacity: .3;
        &:hover{opacity: 1}
      }
    }
    .hide_enough{opacity: 0; span{cursor: default}}
  }
}

@keyframes chance {
  0%{opacity: 0}
  80%{opacity: 0}
  100%{opacity: 1}
}